
/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #eee; /* Light gray text */
    background-color: #111; /* Dark background */
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.underlined-letter {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #222; /* Dark gray */
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Section styles */
section {
    padding: 40px 0;
}

h2 {
    color: #ff8c00; /* Orange highlight */
}

/* Portfolio item styles */
.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
}

/* Quiz page stuff */
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 6px;
    width: max-content;
    border: 2px solid #ff8c00;
}

.quiz > *{
	margin: 2px;
}


.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 6px;
    width: max-content;
}

table, th, td {
    border: 2px solid #ff8c00;
    border-collapse: collapse;
}



/* Footer styles */
footer {
    background-color: #222; /* Dark gray */
    color: #888; /* Light gray text */
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness (adjust as needed) */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
    
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
